<h3>Browse People</h3>

<div class="text-center">
  <ul class="people-list">
<% @people.each do |person| %>
    <li class="person-item">
      <%= render 'shared/person_thumb', person: person %>
    </li>
<% end %>
  </ul>
  
  <%= will_paginate @people, renderer: BootstrapPagination::Rails %>
</div>
