<li>
    <div class="pull-left movie-poster">
        <%= image_tag movie.poster.url(:thumb), alt: movie.title %>
    </div>
    <div class="movie-item">
        <strong><%= link_to movie.title.upcase, movie_path(movie) %> <small>(<%= movie.year %>)</small></strong>
    </div>
    <div class="ratings">
        <%= render 'buttons', movie: movie, sm: true %>
    </div>
    <div class="clearfix"></div>
</li>
