<h3><% if params[:tag] %>MOVIES WITH <%= params[:tag].upcase %><% else %><%= t('movie.find') %><% end %></h3>

<ul class="movie-list">
<% @movies.each do |movie| %>

  <%= render 'quick', movie: movie %>
  <div class="clearfix"></div>

<% end %>
</ul>

<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
