<% if local_assigns.has_key?(:person) && !person.nil? %>
  <%= link_to person_path(person) do %><%= image_tag person.promo.url(:thumb), alt: person.name, class: "img-rounded", height: '125', width: '86' %><% end %>
  <p class="person-thumb-description"><%= link_to person.name, person_path(person) %></p>
<% else %>
  <%= image_tag 'missing-thumb.png', alt: "Unknown", class: "img-rounded", height: '125' %><br />
  Unknown
<% end %>
