<h3>What is VNLAT?</h3>
<p>VNLAT is a community service project intended to increase the visibility, usefulness, and transparency of movie ratings. Each rating is given to accurately reflect the content of the movie as best as possible. We believe accurate, descriptive ratings are the best way for moviegoers to know what content to expect.</p>

<h3>How do the ratings work?</h3>
<p><%= t('movie.rating_explanation') %></p>