/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require custom_bootstrap/custom_bootstrap
 *= require font-awesome
 *= require_self
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

body { 
   overflow-x: hidden;
}

.navbar-right {
	padding-right: 15px;
}

.clear-bottom {
	margin-bottom: 0px !important;
}

.navbar>div>strong>a,
.navbar>div>div>a,
.navbar>div>ul>li>a {
    font-family: 'Oswald';
}

/* Titles */
fieldset>legend,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
}

fieldset>legend,
h3 {
    font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
}

.ratings {
    margin-left: 15px;
}

.movie-item {
    margin-right: 15px;
}

.movie-list {
    list-style-type: none;
    padding-left: 2px;
}

.movie-list>li {
    margin-bottom: 5px;
}

.movie-title {
    margin-top: 0;    
}

.movie-poster {
    margin-right: 10px;
    margin-bottom: 5px;
}

.tag-list {
    margin-top: 15px;
}

.tag-list-sm {
    margin-top: 6px;
}
