<div class="modal fade" id="new-character-modal-success">
  <div class="modal-dialog">
  	<div class="modal-content">
  		<div class="modal-body">			  
				<p class="text-center">
				  <%= @character.name %> has been added!<br/>
				  <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
				</p>
		  </div>
		</div>	
  </div>
</div>