<div class="modal fade" id="new-character-modal">
  <div class="modal-dialog">
  	<div class="modal-content">
  		<div class="modal-body">			  
        <%= render 'characters/form', modal: true %>
		  </div>
		  <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
		</div>	
  </div>
</div>
